.loginContent {
  background-color: #ffffff;
  padding-top: 170px;
}

.loginContent label {
  margin-left: 10px;
}

.loginContent button {
  height: 50px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.alert a {
  color: black;
}

.loginBtn {
  margin-top: 190px;
}

.contact {
  background-color: white;
}
